<li>
    <button (click)="toggleItem(todo.id)">
        @if (todo.isCompleted) {
            <span>✔️</span> 
        } @else {
            <span> </span>
        }
    </button>
    @if (!isEditing) {
        <span>{{todo.todo}}</span>
    } @else {
        <input type="text" value={{todo.todo}} [(ngModel)]="editedInputVal"/>
    }
    <button type="button" (click)="editItem()">
        @if (!isEditing) {
            <span>수정</span> 
        } @else {
            <span>완료</span>
        }
    </button>
    <button type='button' (click)="removeItem(todo.id)">X</button>
</li>