<li
  class="text-md mb-3 flex items-center gap-3 rounded-3xl border-2 border-[#00C471] bg-white px-4 py-4 shadow-md"
>
  <button
    class="h-8 w-8 rounded-full border-2 border-dotted border-gray-400 hover:border-[#00C471]"
    (click)="toggleItem(todo.status)"
  >
    @if (todo.status === 'COMPLETED') {
      <span>⭕</span>
    } @else {
      <span></span>
    }
  </button>
  <div class="flex-1 p-2">
    @if (!isEditing) {
      @if (todo.status === 'COMPLETED') {
        <p class="flex-1 text-gray-400 line-through">{{ todo.content }}</p>
      } @else {
        <p class="flex-1">{{ todo.content }}</p>
      }
    } @else {
      <input
        type="text"
        class="w-full flex-1 border-b p-2 outline-none"
        [(ngModel)]="editedInputVal"
      />
    }
    @if (todo.location) {
      <p class="text-xs text-gray-600">📍 {{ todo.location }}</p>
    }
  </div>

  <button type="button" (click)="copyTodoText(todo.content)">🔗</button>
  @if (!isEditing) {
    <button type="button" (click)="changeEditMode()">✏️</button>
    <button type="button" (click)="removeItem(todo.id)">🗑️</button>
  } @else {
    <button
      type="button"
      class="disabled:opacity-20"
      [disabled]="isDisabled()"
      (click)="editItem()"
    >
      ✔️
    </button>
    <button type="button" (click)="editStatus(false)">🔁</button>
  }
</li>
