@if (allTodoList$) {
  <ul
    class="mx-auto h-[650px] max-w-screen-md flex-1 overflow-y-scroll bg-[#F9F9F9] p-5"
  >
    @for (todoItem of allTodoList$ | async; track todoItem.id) {
      <app-todo
        [todo]="todoItem"
        (removeItemEvent)="onRemoveTodo($event)"
        (toggleItemEvent)="onChangeStatus(todoItem.id, $event)"
        (editItemEvent)="onEditTodo(todoItem.id, $event)"
      />
    }
  </ul>
} @else {
  <div
    class="mx-auto flex h-[600px] max-w-screen-md flex-1 flex-col items-center justify-center border-2 border-dotted"
  >
    <p class="text-gray-500">등록된 투두 아이템이 없습니다.</p>
  </div>
}
