<div
  class="mx-auto my-6 max-w-screen-sm rounded-xl border-2 border-[#00C471] p-8 shadow-lg"
>
  <div class="flex items-center justify-between mb-10">
    <button
      id="prevBtn"
      class="hover:text-[#00C471]"
      (click)="onChangePrevMonth()"
    >
      ◀
    </button>
    <h2 id="currentMonth" class="text-xl font-bold">
      {{ today | date: 'Y년 M월' }}
    </h2>
    <button
      id="nextBtn"
      class="hover:text-[#00C471]"
      (click)="onChangeNextMonth()"
    >
      ▶
    </button>
  </div>
  <div
    class="grid grid-cols-7 border-b border-[#00C471] border-opacity-30 pb-3 text-center font-bold"
  >
    <div class="">일</div>
    <div class="">월</div>
    <div class="">화</div>
    <div class="">수</div>
    <div class="">목</div>
    <div class="">금</div>
    <div class="">토</div>
  </div>
  <div class="grid grid-cols-7 gap-2 py-3 text-center">
    @for (date of dates; track $index) {
      <div
        [ngClass]="{
          'text-black text-opacity-40': !date.inCurrentMonth,
          'font-extrabold text-[#00C471]':
            date.inCurrentMonth && isToday(date.date)
        }"
        class="relative p-2 cursor-pointer hover:rounded-full hover:bg-gray-100"
        (click)="modalService.toggleModal()"
      >
        {{ date.date }}
        @for (calendarTodo of calendarTodos$ | async; track $index) {
          @if (
            calendarTodo.createdAt.getDate() === date.date &&
            date.inCurrentMonth
          ) {
            <div
              class="absolute top-0 w-1 h-1 bg-red-600 rounded-full right-5"
            ></div>
          }
        }
      </div>
    }
  </div>
</div>
