<div
  class="mx-auto my-6 max-w-screen-sm rounded-xl border-2 border-[#00C471] p-8 shadow-lg"
>
  <div class="mb-10 flex items-center justify-between">
    <button
      id="moveBtn"
      class="hover:text-[#00C471]"
      (click)="onChangeMonth(-1)"
    >
      ◀
    </button>
    <h2 id="viewMonth" class="text-xl font-bold"></h2>
    <button
      id="moveBtn"
      class="hover:text-[#00C471]"
      (click)="onChangeMonth(1)"
    >
      ▶
    </button>
  </div>
  <div
    class="grid grid-cols-7 border-b border-[#00C471] border-opacity-30 pb-3 text-center font-bold"
  >
    <div>일</div>
    <div>월</div>
    <div>화</div>
    <div>수</div>
    <div>목</div>
    <div>금</div>
    <div>토</div>
  </div>
  <div class="grid grid-cols-7 gap-2 py-3 text-center" id="calendarDates"></div>
</div>
