<div class="mx-14 flex h-5/6 gap-6 print:flex-col" cdkDropListGroup>
  <section>
    <h2 class="mb-4 text-center text-2xl font-bold">To-Do</h2>
    <ul
      id="todo"
      class="mx-auto h-[600px] min-w-[420px] max-w-screen-md flex-1 overflow-y-auto bg-[#F9F9F9] p-5 print:h-full print:overflow-y-visible"
      cdkDropList
      [cdkDropListData]="todoTodoList"
      (cdkDropListDropped)="drop($event)"
    >
      @for (todoItem of todoTodoList; track $index) {
        <app-todo
          cdkDrag
          [todo]="todoItem"
          [cdkDragData]="todoItem"
          (removeItemEvent)="onDeleteTodo($event)"
          (toggleItemEvent)="onChangeStatus(todoItem.id, $event)"
          (editItemEvent)="onEditTodo(todoItem.id, $event)"
        />
      }
    </ul>
  </section>
  <section>
    <h2 class="mb-4 text-center text-2xl font-bold">In-Progress</h2>
    <ul
      id="inProgress"
      class="mx-auto h-[600px] min-w-[420px] max-w-screen-md flex-1 overflow-y-auto bg-[#F9F9F9] p-5 print:h-full print:overflow-y-visible"
      cdkDropList
      [cdkDropListData]="inProgressTodoList"
      (cdkDropListDropped)="drop($event)"
    >
      @for (todoItem of inProgressTodoList; track $index) {
        <app-todo
          cdkDrag
          [todo]="todoItem"
          [cdkDragData]="todoItem"
          (removeItemEvent)="onDeleteTodo($event)"
          (toggleItemEvent)="onChangeStatus(todoItem.id, $event)"
          (editItemEvent)="onEditTodo(todoItem.id, $event)"
        />
      }
    </ul>
  </section>
  <section>
    <h2 class="mb-4 text-center text-2xl font-bold">Completed</h2>
    <ul
      id="completed"
      class="mx-auto h-[600px] min-w-[420px] max-w-screen-md flex-1 overflow-y-auto bg-[#F9F9F9] p-5 print:h-full print:overflow-y-visible"
      cdkDropList
      [cdkDropListData]="completedTodoList"
      (cdkDropListDropped)="drop($event)"
    >
      @for (todoItem of completedTodoList; track $index) {
        <app-todo
          [todo]="todoItem"
          cdkDrag
          [cdkDragData]="todoItem"
          (removeItemEvent)="onDeleteTodo($event)"
          (toggleItemEvent)="onChangeStatus(todoItem.id, $event)"
          (editItemEvent)="onEditTodo(todoItem.id, $event)"
        />
      }
    </ul>
  </section>
</div>
