<section class="flex h-screen items-center justify-center">
  @if (isLoginPage) {
    <form
      [formGroup]="formGroup"
      (submit)="onLogin()"
      class="flex min-w-[500px] flex-col gap-6 rounded-3xl border-2 border-[#00C471] p-12 shadow-lg"
    >
      <h1 class="mb-4 text-3xl font-bold">Sign In</h1>
      <label class="flex flex-col font-semibold">
        이메일
        <input
          type="text"
          formControlName="email"
          placeholder="이메일을 입력해주세요. (필수)"
          class="mt-1 rounded-lg bg-gray-100 p-3 text-sm font-normal outline-none"
        />
      </label>
      <label class="flex flex-col font-semibold">
        비밀번호
        <input
          type="password"
          formControlName="password"
          placeholder="비밀번호 6자리 이상 입력해주세요. (필수)"
          class="mt-1 rounded-lg bg-gray-100 p-3 text-sm font-normal outline-none"
        />
      </label>
      <button
        [disabled]="formGroup.invalid"
        class="rounded-md bg-[#00C471] p-2 font-semibold text-white enabled:hover:shadow-lg disabled:opacity-30"
      >
        로그인
      </button>
      <button
        type="button"
        (click)="togglePage()"
        class="text-center hover:text-[#00C471]"
      >
        회원이 아니신가요?
      </button>
      <p class="text-red-700">{{ errorMsg }}</p>
    </form>
  } @else {
    <form
      [formGroup]="formGroup"
      (submit)="onRegister()"
      class="flex min-w-[500px] flex-col gap-6 rounded-3xl border-2 border-[#00C471] p-12 shadow-lg"
    >
      <h1 class="mb-4 text-3xl font-bold">Sign Up</h1>
      <label class="flex flex-col font-semibold">
        이메일
        <input
          type="text"
          formControlName="email"
          placeholder="이메일을 입력해주세요. (필수)"
          class="mt-1 rounded-lg bg-gray-100 p-3 text-sm font-normal outline-none"
        />
      </label>
      <label class="flex flex-col font-semibold">
        아이디
        <input
          type="text"
          formControlName="username"
          placeholder="아이디를 입력해주세요."
          class="mt-1 rounded-lg bg-gray-100 p-3 text-sm font-normal outline-none"
        />
      </label>
      <label class="flex flex-col font-semibold">
        비밀번호
        <input
          type="password"
          formControlName="password"
          placeholder="비밀번호 6자리 이상 입력해주세요. (필수)"
          class="mt-1 rounded-lg bg-gray-100 p-3 text-sm font-normal outline-none"
        />
      </label>
      <button
        [disabled]="formGroup.invalid"
        class="rounded-md bg-[#00C471] p-2 font-semibold text-white enabled:hover:shadow-lg disabled:opacity-30"
      >
        회원가입
      </button>
      <button
        type="button"
        (click)="togglePage()"
        class="text-center hover:text-[#00C471]"
      >
        이미 회원이신가요?
      </button>
      <p class="text-red-700">{{ errorMsg }}</p>
    </form>
  }
</section>
