<header
  class="flex h-16 items-center justify-between gap-4 bg-[#F8F9FA] p-5 shadow-md"
>
  <p class="text-2xl font-semibold">{{ today | date: 'M월 d일' }}</p>
  <nav>
    <ul class="flex items-center gap-4">
      <li>
        <a
          routerLink="list"
          routerLinkActive="text-[#00C471]"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
          class="font-bold uppercase hover:text-[#00C471]"
          >list</a
        >
      </li>
      <li>
        <a
          routerLink="/canban"
          routerLinkActive="text-[#00C471]"
          ariaCurrentWhenActive="page"
          class="font-bold uppercase hover:text-[#00C471]"
          >canban</a
        >
      </li>
      <li>
        <a
          routerLink="/calendar"
          routerLinkActive="text-[#00C471]"
          ariaCurrentWhenActive="page"
          class="font-bold uppercase hover:text-[#00C471]"
          >calendar</a
        >
      </li>
      <li>
        <a
          routerLink="/map"
          routerLinkActive="text-[#00C471]"
          ariaCurrentWhenActive="page"
          class="font-bold uppercase hover:text-[#00C471]"
          >map</a
        >
      </li>
      <li class="ml-6 flex items-center gap-2">
        <p class="font-semibold">{{ username }}</p>
        <button
          class="rounded-md bg-green-500 p-2 text-sm text-white"
          type="button"
          (click)="onLogout()"
        >
          로그아웃
        </button>
      </li>
    </ul>
  </nav>
</header>
@if (allTodoList$) {
  <div
    class="h-1 bg-[#00C471]"
    [style.width.%]="getCompletionRate() | async"
  ></div>
}
